./strapi/node_modules
./strapi/.env
./strapi/.DS_Store
./strapi/.AppleDouble
./strapi/.LSOverride
./strapi/Icon
./strapi/.Spotlight-V100
./strapi/.Trashes
./strapi/._*

./market/node_modules
./market/environment.ts
./market/src/environments/environment.ts