[submodule "backend"]
	path = backend
	url = https://github.com/frxncismor/atlas-market.backend.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/frxncismor/atlas-market.frontend.git
