swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
}

swiper-container {
  position: relative;
  display: block;
  inline-size: 100%;
  height: 100%;
}

.category {
  max-inline-size: 216px;
  --cz-aspect-ratio: calc(240 / 216 * 100%);
}