<section class="border-top">
  <div class="container py-lg-1">
    <ngx-simplebar class="overflow-auto custom-bar" data-simplebar>
      <div class="nav flex-nowrap justify-content-between gap-4 py-2">
        @for ( category of categories; track category.id) {
          <a class="nav-link align-items-center animate-underline gap-2 p-0" href="shop-catalog-grocery.html">
            <span class="d-flex align-items-center justify-content-center bg-body-tertiary rounded-circle" style="width: 40px; height: 40px">
              @if (category.icon) {
                <i class="{{ category.icon }} text-primary fs-xl"></i>
              }
              @if (category.imageUrl) {
                <img [src]="category.imageUrl" width="30" alt="Image">
              }
            </span>
            <span class="d-block animate-target fw-semibold text-nowrap ms-1">{{ category.name }}</span>
          </a>
        }
      </div>
  </ngx-simplebar>
  </div>
</section>