<swiper-container
[pagination]="{clickable: true}"
speed="400"
autoplay="true"
effect="fade"
>
@for (slide of slides; track slide) {
  <swiper-slide [style]="'background-color:' + slide.backgroundColor" [lazy]="slide.lazy">
    <div class="position-absolute d-flex align-items-center w-100 h-100 z-2">
      <div class="container mt-lg-n4">
        <div class="row">
          <div class="col-9 col-sm-8 col-md-7 col-lg-6">
            <p class="fs-sm text-white mb-lg-4" [innerHTML]="getSanitizedHtml(slide.paragraph)"></p>
            <h2 class="display-4 pb-2 pb-md-3 pb-lg-4">
              {{slide.heading}}
            </h2>
            <a
              class="btn btn-lg btn-outline-light rounded-pill"
              [href]="slide.linkUrl"
            >
              {{slide.linkText}}
            </a>
          </div>
        </div>
      </div>
    </div>
    <img
      loading="lazy"
      [src]="slide.image"
      class="position-absolute top-0 start-0 w-100 h-100 object-fit-cover rtl-flip"
      [alt]="slide.alt"
    />
  </swiper-slide>
}