@import "swiper/element/css/pagination";
@import "swiper/element/css/effect-fade";
@import "swiper/element/css/autoplay";

swiper-slide {
  position: relative;
}

swiper-container {
  position: relative;
  display: block;
  inline-size: 100%;
  block-size: 500px;
}

