name: Publicar imágenes Docker

on:
  push:
    branches:
      - main

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout del código
        uses: actions/checkout@v2

      - name: Configurar Docker para GitHub Actions
        uses: docker/setup-buildx-action@v1

      - name: Iniciar sesión en Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Construir y publicar backend
        uses: docker/build-push-action@v2
        with:
          context: ./strapi
          file: ./strapi/Dockerfile
          push: true
          tags: frxncis/atlas-backend:latest
          no-cache: true
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Construir y publicar frontend
        uses: docker/build-push-action@v2
        with:
          context: ./market
          file: ./market/Dockerfile
          push: true
          tags: frxncis/atlas-frontend:latest
          no-cache: true
          cache-from: type=gha
          cache-to: type=gha,mode=max